@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

body {
  background-color: #b5b4b4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 320px;
}

form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  position: relative;
  margin: 20px 0;
}

.input-field {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  background-color: transparent;
}

.input-label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 16px;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: dodgerblue;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -20px;
  font-size: 12px;
  color: dodgerblue;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0252a8;
}

p {
  text-align: center;
  margin-top: 10px;
}

p a {
  color: dodgerblue;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.title {
  font-size: 28px;
  color: dodgerblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: dodgerblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: dodgerblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
